body{
    background-color: rgb(173, 173, 173); /*mudar para branco e a barra azul*/
    color: black;
}
.imagemP{
    width: 250px;
    height: 250px;
    border: 2px solid black;
}
.h1C{
    font-size: 20px;
}
.h1C2{
    font-size: 20px;
    margin: 0;
}
.categoriaC{
    display: flex;
    gap: 20px;
    position: relative;
    top: 30px;
}
.categoria1{
    margin: 0px;
    padding: 20px;
 
}
.categoriaR, .h1C3{
    display: flex;
    gap: 20px;
    position: relative;
    top: 30px;
}
.h1R3{
    gap: 20px;
    font-size: 20px;
    margin: 0;
}
.categoria2{
    position: relative;
    top: 10px;
    left: 20px;
}
.categ{
    display: flex;
    gap: 180px;
}
.categ3{
    display: flex;
    gap: 0px;
    position: relative;
    top: 40px;
}
.categoriaT2{
    display: flex;
    gap: 20px; 
}

.categoria3{
    position: relative;
    top: 10px;
    left: 20px;
}
.h1R2{
    gap: 20px;
    font-size: 20px;
    margin: 0;
    position: relative;
    top: 40px;
}
#categ{
    position: relative;
    top: 70px;
}
.pesquisa{
    position: relative;
    left: 40%;
    width: 20%;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    top: 30px;
}
.sugestoes{
    margin: 0px;
    position: relative;
    left: 20px;
    font-size: 50px;
}
.container{
    position: relative;
    top: 100px;
}

.barra {
  display: flex;
  align-items: center;
  gap: 300px;
  position: relative;
  margin: 0px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;

}

.link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: black;
  font-size: 20px;

}
h1, p {
      font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: black;
}

.imagem {
  height: 200px;
  width: 200px;
}

.container_perfil {
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: #E6DBD4;
  width: 500px;
  height: 500px;
  border-radius: 15px;
  padding: 10px;
}

.link:hover {
  color:rgb(173, 173, 173);
}
.sobre{
    display: flex;
    position: relative;
    left: 40%;
}
.sobre1{
background-color:  #C3A18C;

}
.rodape{
    background-color: black;
    width: 100%;
    height: 20%;
}